<footer>
	<div class="container">
		<div class="row">
			<div id="footwrap" class="col-md-12">
				<nav id="footermenu">
          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
							<li{% if page.url == "/" %} class="current-menu-item"{% endif %}><a title="Home" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
							{% include nav.html %}
							<li>{{ site.social_facebook_a }}</li>
							<li>{{ site.social_instagram_a }}</li>
            </ul>
          </div>
				</nav>
				<p id="copyright">&copy; K&amp;T Colors. All rights reserved. 568 South York Street. Elmhurst, IL 60126</p>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/dist/scripts/all.js?v=1" | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32321827-10', 'ktcolorselmhurst.com');
  ga('send', 'pageview');

</script>
