<li{% if page.url == "/framing/" %} class="current-menu-item active"{% endif %}><a title="Framing" href="{{ "/framing/" | prepend: site.baseurl }}">Framing</a></li>
<li{% if page.url == "/art-supplies/" %} class="current-menu-item active"{% endif %}><a title="Art Supplies" href="{{ "/art-supplies/" | prepend: site.baseurl }}">Art Supplies</a></li>
<li{% if page.url == "/art-classes/" %} class="current-menu-item active"{% endif %}><a title="Art Classes" href="{{ "/art-classes/" | prepend: site.baseurl }}">Art Classes</a></li>
<li{% if page.url == "/original-artwork/" %} class="current-menu-item active"{% endif %}><a title="Original Artwork" href="{{ "/original-artwork/" | prepend: site.baseurl }}">Original Artwork</a></li>
<li{% if page.url == "/about-us/" %} class="current-menu-item active"{% endif %}><a title="About Us" href="{{ "/about-us/" | prepend: site.baseurl }}">About Us</a></li>
<li{% if page.url == "/contact-us/" %} class="current-menu-item active"{% endif %}><a title="Contact Us" href="{{ "/contact-us/" | prepend: site.baseurl }}">Contact Us</a></li>
