<div id="hours-panel" class="panel panel-info{% if include.contact %} contact{% endif %}">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="icon-time left"></i>Store Hours</h3>
  </div>
  <div class="panel-body">
    <div class="textwidget">
       <p>Monday: 10:00 am - 5:30 pm<br />
          Tuesday: 10:00 am - 5:30 pm<br />
          Wednesday: 10:00 am - 5:30 pm<br />
          Thursday: 10:00 am - 7:00 pm<br />
          Friday: 10:00 am - 5:00 pm<br />
          Saturday: 10:00 am - 2:00 pm<br />
          Sunday: CLOSED
       </p>
    </div>
  </div>
</div>
