i.right {
	margin-left: 0.5em;
}

i.left {
	margin-right: 0.5em;
}

a.btn {
	text-decoration: none;
}

*,
html {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 80px;
	background-image: url('../images/backgrounds/brillant.png');
	background-position: center top;
	background-repeat: repeat;
	font-family: 'proxima-nova', 'Helvetica', Arial, sans-serif;
}

.hide {
	display: none;
}

a img {
	border: 0px;
	border-style: none;
}

img {
	max-width: 100%;
}

.mobileOnly {
	display: none;
}

.alignleft { text-align: left; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0px auto;
}

iframe {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'adobe-garamond-pro', 'Garamond', 'Helvetica', Arial, sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: 300;
}

.no-top {
	margin-top: 0px;
}

.navbar-brand {
	font-size: 12px;
}

nav ul {
	list-style-type: none;
}

header,
footer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	text-align: center;
}

header nav.navbar {
	border-bottom-color: rgba(39,40,112,0.5);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

#full-nav {
	background: $white-off;
}

#full-nav #logo {
	display: inline-block;
	vertical-align: middle;
	max-height: 65px;
	margin: 0.5em 5em 0.5em 0.5em;
}

#full-nav #main-button-menu {
	display: inline-block;
	vertical-align: middle;
}

#main-button-menu .btn {
	font-size: 17px;
}

#home-carousel {
	clear: both;
	margin-bottom: 1em;
}

section {
	clear: both;
}

section.nopad:first-of-type {
	margin-top: 0px;
}

section.withsubnav {
	margin-top: 140px;
}

section article ol,
section article ul {
	margin: 1em 0px 1em 2em;
}

section article p {
	margin-bottom: 1em;
}

section article ol:last-child,
section article ul:last-child,
section article p:last-child {
	margin-bottom: 0px;
}

section article hr {
	height: 1px;
	margin: 1em 0px;
	background: $black;
	border: 0px;
	border-style: none;
}

#share-bar {
	margin: 0.5em 0px;
}

.staff-member {
	margin-bottom: 1em;
}

.staff-member:last-child {
	margin-bottom: 0px;
}

.staff-member .staff-member-photo {
	outline: 3px solid #b9b9b9;
}

table.wcs-schedule {
	margin-top: 1em;
	font-size: 1.5em !important;
}

#wcs-schedule-list {
	text-align: center;
}

#wcs-schedule-list ul {
	margin-left: 0px;
	list-style-type: none;
}

#pricing-table {
	margin: 1em 0px;
	background: $white;
	text-align: center;
	font-size: 1.5em;
}

#pricing-table th {
	color: #666;
	background: #eee;
	text-align: center;
}

.carousel-indicators li {
	background-color: $black;
}

.carousel-inner .item,
.carousel-inner .item .wrapper {
	min-height: 410px;
}

#frame-slider {
	background-image: url('../images/slides/variety-frames.jpg');
	background-color: #120d14;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1400px auto;
}

#classes-slider {
	background-image: url('../images/class1.jpg');
	background-color: #999;
	background-position: center -100px;
	background-repeat: no-repeat;
}

#store-slider {
	background-image: url('../images/slides/storefront.jpg');
	background-color: #999;
	background-position: center top;
	background-repeat: no-repeat;
}

#red-frame-slider {
	background-image: url('../images/slides/red-frame-3.jpg');
	background-color: #383838;
	background-position: center center;
	background-repeat: no-repeat;
}

#colored-pencils-slider {
	background-image: url('../images/slides/slide-colored-pencils.jpg');
	background-color: #2f2d1e;
	background-position: center top;
	background-repeat: no-repeat;
}

#paint-slider {
	background-image: url('../images/slides/watercolor-paint.jpg');
	background-color: #c8b317;
	background-position: center -225px;
	background-repeat: no-repeat;
}

.carousel-inner .item {
	color: $white;
	background-position: center top;
	background-color: $black;
	line-height: 1.2;
}

.carousel-inner .item a {
	color: $white;
}

.carousel-control.left,
.carousel-control.right {
	background: none;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	font-size: 60px;
}

.carousel-caption {
	width: 550px;
	text-shadow: 0px 0px 0.375em $black;
	text-align: left;
}

.carousel-caption h2 {
	font-size: 3em;
}

.carousel-caption p {
	font-size: 1.5em;
}

.carousel-inner .slide-big-text {
	padding-top: 80px;
	margin-bottom: 20px;
	color: $white;
	text-align: center;
	font-size: 3em;
	line-height: 1.2;
	font-family: 'museo-sans', sans-serif;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.carousel-inner .slide-sub-text {
	color: $white;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.carousel-inner .photo-caption {
	position: absolute;
	bottom: 1em;
	right: 0px;
	color: $white;
	font-size: 0.625em;
}

.contact {

	.email-callout {
		font-size: 1.5em;
	}

}

#contact-line {
	margin-bottom: 0px;
}

#hours-panel .panel-heading {
	text-align: center;
}

#hours-panel .panel-body p {
	margin: 0px;
	text-align: center;
}

#hours-panel.contact {
	margin-top: 2em;
}

#map-canvas {
	width: 100%;
	min-height: 680px;
}

footer {
	margin: 2em 0px 0px;
	padding: 0px 0px 2em;
}

footer #footwrap {
	padding-top: 1em;
	border-top: 1px solid rgba(39,40,112,0.5);
}

footer nav,
footer nav ul {
	display: inline;
}

footer nav ul li {
	display: inline;
	padding: 0px 1em 0px 0px;
	margin-right: 1em;
	font-size: 0.75em;
	border-right: 1px solid #525252;
}

footer nav ul li:last-child {
	padding-right: 0px;
	margin-right: 0px;
	border-right: 0px;
}

footer nav ul li a {
	color: $gray;
	text-decoration: none;
}

footer #copyright {
	margin-top: 1em;
	color: $gray;
	font-size: 0.625em;
}

img.artwork {
	max-width: 200px;
}

#companies-list {
	list-style-position: inside;
	column-count: 2;
}

.highlighted {
	color: $red;
	font-weight: bold;
	font-size: 1.5rem;
}

footer svg {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.25em;
	margin-right: 0.5em;
	width: 1em;
	height: 1em;
}

.social-media {

	margin-top: 1rem;
	font-size: 2rem;
	text-align: center;

	@media (min-width: 600px) {
		font-size: 3rem;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5em;
		width: 1em;
		height: 1em;
	}

	a {

		display: inline-block;
		vertical-align: middle;

		+ a {
			margin-left: 1em;
		}

	}

	.social-facebook,
	.social-instagram {

		&:hover {
			color: inherit;
			opacity: 0.9;
			text-decoration: none;
		}

	}

}

.social-facebook {
	color: $facebook-blue;
}

.social-instagram {
	color: $instagram-purple;
}

.store-insert {
	margin: 4rem 0px;
}

.art-supplies#ecwid_body {
	background: none;
}

@media (min-width: 768px) {

	.navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	header #next-buy {
		line-height: 66px;
	}

	.carousel-caption {
		left: 0%;
		right: 0%;
	}

	.carousel-indicators {
		left: 5%;
		bottom: 0px;
		margin-left: 0px;
		text-align: left;
	}

	ul#menu-main-menu {
		display: none;
	}

	#site-summary {
		margin-top: 1em;
	}
}

@media screen and (max-width: 1199px) {

	#full-nav #logo {
		margin-right: 2em;
	}

	#main-button-menu .btn {
		font-size: 12px;
	}

}


@media screen and (max-width: 979px) {

	body {
		padding-top: 70px;
	}

	#full-nav #logo {
		max-height: 55px;
	}

}

@media screen and (max-width: 1024px) and (min-width: 768px) {

	.carousel-caption {
		padding-left: 75px;
		padding-right: 75px;
	}

	.carousel-indicators {
		left: 15%;
	}

}

@media screen and (max-width: 767px) {

	header {
		height: auto;
		position: static;
		margin: 0px -20px;
	}

	#mobile-nav {
		min-height: 50px;
		margin-bottom: 0px;
	}

	#mobile-nav #logo {
		max-height: 40px;
	}

	#mobile-nav button.navbar-toggle {
		margin: 17px 17px 17px 0px;
	}

	#paint-slider {
		background-position: center center;
	}

	.carousel-inner .item,
	.carousel-inner .item .wrapper {
		min-height: 0px;
		background-size: 800px auto;
	}

	.carousel-caption {
		position: static;
		display: block;
		width: auto;
		min-height: 260px;
		padding: 15px 15px 40px;
		text-align: center;
		text-shadow: 0px 0px 0.25em $black;
	}

	.carousel-indicators {
		bottom: -5px;
	}

	.carousel-indicators li {
		width: 16px;
		height: 16px;
	}

	.carousel-indicators .active {
		width: 18px;
		height: 18px;
	}

	#store-slider {
		background-image: url('../images/coloredpencilsfull.jpg');
	}

	section.withsubnav,
	section:first-of-type {
		margin-top: 1em;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-left: 0px;
		margin-right: 0px;
	}

	img.artwork {
		display: block;
		max-width: none;
		margin: 0px auto 1em;
	}

	footer {
		text-align: center;
	}

	footer nav ul li {
		display: block;
		padding: 0px;
		margin: 0px;
		border: 0px;
	}

	#companies-list {
		column-count: 1;
	}

	.small-top {
		margin-top: 1em;
	}

	.small-bottom {
		margin-bottom: 1em;
	}

}

@media screen and (max-width: 480px) {


	.carousel-control {
		display: none;
	}

	#footermenu {
		font-size: 1.5em;
	}

}

@media screen and (min-device-pixel-ratio: 1.25) {

	body {
		background-image: url('../images/backgrounds/brillant_@2X.png');
		background-size: 200px 200px;
	}

	#main-slider {
		background-image: url('../images/backgrounds/tileable_wood_texture_@2X.png');
		background-size: 200px 200px;
	}

}
